name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  packages: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ github.token }}

    - name: Restore dependencies
      run: dotnet restore ChristopherBriddock.AspNetCore.HealthChecks.sln

    - name: Build
      run: dotnet build --configuration Release ChristopherBriddock.AspNetCore.HealthChecks.sln -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Publish
      run: dotnet publish src/ChristopherBriddock.AspNetCore.HealthChecks/ChristopherBriddock.AspNetCore.HealthChecks.csproj -c Release -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Create the package
      run: dotnet pack --configuration Release src/ChristopherBriddock.AspNetCore.HealthChecks/ChristopherBriddock.AspNetCore.HealthChecks.csproj -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ChristopherBriddock.AspNetCore.HealthChecks
        path: src/ChristopherBriddock.AspNetCore.HealthChecks/bin/Release/net10.0/publish
        if-no-files-found: error

    - name: Push NuGet Package to GitHub Packages
      if: github.ref == 'refs/heads/main'
      env:
        NUGET_AUTH_TOKEN: ${{ github.token }}
      run: dotnet nuget push "src/ChristopherBriddock.AspNetCore.HealthChecks/bin/Release/*.nupkg" --api-key "$NUGET_AUTH_TOKEN" --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --skip-duplicate

    - name: Create Git Tag
      if: success() && github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        chmod +x ./create-tag.sh
        ./create-tag.sh "v${{ secrets.RELEASE_VERSION }}"
      env:
        GITHUB_TOKEN: ${{ github.token }}
