name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Add GitHub NuGet Source
      run: dotnet nuget add source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --name github --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text

    - name: Restore dependencies
      run: dotnet restore ChristopherBriddock.AspNetCore.HealthChecks.sln

    - name: Build
      run: dotnet build --configuration Release ChristopherBriddock.AspNetCore.HealthChecks.sln -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Publish
      run: dotnet publish src/ChristopherBriddock.AspNetCore.HealthChecks/ChristopherBriddock.AspNetCore.HealthChecks.csproj -c Release -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Create the package
      run: dotnet pack --configuration Release src/ChristopherBriddock.AspNetCore.HealthChecks/ChristopherBriddock.AspNetCore.HealthChecks.csproj -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ChristopherBriddock.AspNetCore.HealthChecks
        path: src/ChristopherBriddock.AspNetCore.HealthChecks/bin/Release/net10.0/publish
        if-no-files-found: error

    - name: Push NuGet Package to GitHub Packages
      if: github.ref == 'refs/heads/main'
      run: dotnet nuget push "src/ChristopherBriddock.AspNetCore.HealthChecks/bin/Release/*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --source "github" --skip-duplicate

    - name: Create Git Tag
      if: success() && github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        chmod +x ./create-tag.sh
        ./create-tag.sh "v${{ secrets.RELEASE_VERSION }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
